#message .search input {
    border-radius: 35px;
    border: none;
    filter: drop-shadow(0px 8px 4px #c5c5c5);
}
#main {
    background-image: url(/assets/img/Circle_new.png);
    background-size: 40%;
    background-repeat: no-repeat;
    background-position-x: right;
    overflow-y: hidden;
}
#main .left_side {
    height: 80vh;
}
#main .left_side .top_text {
    font-size: 70px;
    font-weight: 600;
}
#main .right_side img {
    width: 90%;
}
@media (max-width: 768px) {
    #main {
        background-image: none;
    }
    #main .right_side img {
        display: none;
    }
}

.writershouse-title {
    font-size: 30px;
}
#navbarText li {
    font-size: 20px;
    font-weight: 600;
}
#admin .card-body {
    background: linear-gradient(180deg, #2091F9 0%, rgba(255, 255, 255, 0.00) 100%);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    height: 12vw;
}
#admin i {
    font-size: 75px;
}
#admin .data {
    font-size: 60px;
}