#message .search input {
    border-radius: 35px;
    border: none;
    filter: drop-shadow(0px 8px 4px #c5c5c5);
}
#main {
    background-image: url(/assets/img/Circle_new.png);
    background-size: 40%;
    background-repeat: no-repeat;
    background-position-x: right;
    overflow-y: hidden;
}
#main .left_side {
    height: 80vh;
}
#main .left_side .top_text {
    font-size: 70px;
    font-weight: 600;
}
#main .right_side img {
    width: 90%;
}
@media (max-width: 768px) {
    #main {
        background-image: none;
    }
    #main .right_side img {
        display: none;
    }
}

.writershouse-title {
    font-size: 30px;
}
#navbarText li {
    font-size: 20px;
    font-weight: 600;
}
#admin .card-body {
    background: linear-gradient(180deg, #2091F9 0%, rgba(255, 255, 255, 0.00) 100%);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    height: 12vw;
}
#admin i {
    font-size: 75px;
}
#admin .data {
    font-size: 60px;
}

#explore .wtitle{
    font-size: 30px;
    color: white;
    font-weight: bold;
    -webkit-text-stroke: 1px black;
}
#explore .btitle{
    font-size: 30px;
    color: black;
    font-weight: bold;
    -webkit-text-stroke: 0.5px white;
}

#explore .action {
    background-image: url('/assets/img/action_bg.png'); 
    background-repeat: no-repeat;
    height: 10vw;
}
#explore .adventure {
    background-image: url('/assets/img/adventure_bg.png'); 
    background-repeat: no-repeat;
    height: 10vw;
}
#explore .article {
    background-image: url('/assets/img/article_png.png'); 
    background-repeat: no-repeat;
    height: 10vw;
}
#explore .crime {
    background-image: url('/assets/img/crime_bg.png'); 
    background-repeat: no-repeat;
    height: 10vw;
}
#explore .drama {
    background-image: url('/assets/img/drama_bg.png'); 
    background-repeat: no-repeat;
    height: 10vw;
}
#explore .fantasy {
    background-image: url('/assets/img/fantasy_bg.png'); 
    background-repeat: no-repeat;
    height: 10vw;
}
#explore .fiction {
    background-image: url('/assets/img/fiction_bg.png'); 
    background-repeat: no-repeat;
    height: 10vw;
}
#explore .historic {
    background-image: url('/assets/img/historic_bg.png'); 
    background-repeat: no-repeat;
    height: 10vw;
}
#explore .historicfiction {
    background-image: url('/assets/img/historicfiction_bg.png'); 
    background-repeat: no-repeat;
    height: 10vw;
}
#explore .horror {
    background-image: url('/assets/img/horror_bg.png'); 
    background-repeat: no-repeat;
    height: 10vw;
}
#explore .humor {
    background-image: url('/assets/img/humor_bg.png'); 
    background-repeat: no-repeat;
    height: 10vw;
}
#explore .investigation {
    background-image: url('/assets/img/investigation_bg.png'); 
    background-repeat: no-repeat;
    height: 10vw;
}
#explore .life {
    background-image: url('/assets/img/life.png'); 
    background-repeat: no-repeat;
    height: 10vw;
}
#explore .mystery {
    background-image: url('/assets/img/mystery_bg.png'); 
    background-repeat: no-repeat;
    height: 10vw;
}
#explore .nonfiction {
    background-image: url('/assets/img/nonfiction_bg.png'); 
    background-repeat: no-repeat;
    height: 10vw;
}
#explore .poetry {
    background-image: url('/assets/img/poetry_bg.png'); 
    background-repeat: no-repeat;
    height: 10vw;
}
#explore .romance {
    background-image: url('/assets/img/romance_png.png'); 
    background-repeat: no-repeat;
    height: 10vw;
}
#explore .science_fiction {
    background-image: url('/assets/img/science_fiction.png'); 
    background-repeat: no-repeat;
    height: 10vw;
}
#explore .short_story {
    background-image: url('/assets/img/shortstory_bg.png'); 
    background-repeat: no-repeat;
    height: 10vw;
}
#explore .super_hero {
    background-image: url('/assets/img/superhero_bg.png'); 
    background-repeat: no-repeat;
    height: 10vw;
}
#explore .thriller {
    background-image: url('/assets/img/thriller_bg.png'); 
    background-repeat: no-repeat;
    height: 10vw;
}

#user_dashboard .user_img {
    border-radius: 50%;
}
#user_dashboard hr {
    height:2px;
    border-width:0;
    color:black;
    background-color:black;
}